{{!< default}}

{{#post}}
<article class="post-full">
  {{#match @page.show_title_and_feature_image false}}
    <div class="post-content">{{content}}</div>
  {{else}}
    <h1>{{title}}</h1>
    {{#if feature_image}}
      <img class="feature-image" src="{{img_url feature_image size="xl"}}" alt="{{title}}" />
    {{/if}}
    <div class="post-content">{{content}}</div>
  {{/match}}
</article>
{{/post}}
